In [1]:
import pandas as pd

In [2]:
import numpy as np

### Importing the CSV File

In [3]:
df = pd.read_csv(r"C:\\Users\\ALOKRAJ305\\Downloads\\TerrorismProject\\terrorr.csv", low_memory=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(56), int64(21), object(58)
memory usage: 187.1+ MB

In [5]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

### Renaming the columns

In [11]:
df.rename(columns={
     "iyear" : "year",
    "imonth" : "month",
    "country_txt" : "countryname",
    "region_txt" : "regionname",
    "provstate" : "provincestate",
    "alternative_txt" : "cause",
    "attacktype1_txt" : "attacktype11",
    "attacktype2_txt" : "attacktype22",
    "attacktype3_text" : "attacktype33",
    "targtype1_txt" : "target11",
    "targsubtype1_txt" : "target111",
    "natlty1_txt" : "nationalityofterrorist",
    "gname" : "group",
    "gsubname" : "groupsubname",
    "claimed" : "claimedattack",
    "claimmode_txt" : "claimedby",
    "weaptype1_txt" : "weapon1",
    "weapsubtype1_txt" : "weaponsubtype1",
    "propval" : "damagedpropertyvalue",
    "nkill" : "poplekilled",
    "nwound":"peoplewounded",
    "nkillter":"terroristkilled",
    "nwoundte":"terroristwounded",
    "propextent_txt" : "extentofdamage",
    "propvalue" : "damagevalue"
},inplace=True)

### Replacing undesired/incorrect values

In [12]:
df.replace([-9, -99], np.nan, inplace=True)

### To check whether the redundant values are replaced or not, we check the minimum values

In [13]:
df.min()

eventid                 197000000000.0
year                            1970.0
month                              0.0
iday                               0.0
extended                           0.0
                       ...
dbsource    Anti-Abortion Project 2010
INT_LOG                            0.0
INT_IDEO                           0.0
INT_MISC                           0.0
INT_ANY                            0.0
Length: 84, dtype: object

### Selecting the relevant columns

In [14]:
dfsel = df[["year", "month", "countryname", "provincestate", "city", "regionname", "success",  "suicide", "cause", "attacktype11", "attacktype22", "target11", "target111", "motive", "nationalityofterrorist", "group", "groupsubname", "claimedattack","claimedby", "weapon1","weaponsubtype1", "poplekilled", "peoplewounded", "terroristkilled", "terroristwounded", "extentofdamage", "ransompaidus"]]

In [15]:
dfsel

,year,month,countryname,provincestate,city,regionname,success,suicide,cause,attacktype11,...,claimedattack,claimedby,weapon1,weaponsubtype1,poplekilled,peoplewounded,terroristkilled,terroristwounded,extentofdamage,ransompaidus
0,1970.0,7.0,Dominican Republic,NaN,Santo Domingo,Central America & Caribbean,1.0,0.0,NaN,Assassination,...,NaN,NaN,Unknown,NaN,1.0,0.0,NaN,NaN,NaN,NaN
1,1970.0,0.0,Mexico,Federal,Mexico city,North America,1.0,0.0,NaN,Hostage Taking (Kidnapping),...,NaN,NaN,Unknown,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1970.0,1.0,Philippines,Tarlac,Unknown,Southeast Asia,1.0,0.0,NaN,Assassination,...,NaN,NaN,Unknown,NaN,1.0,0.0,NaN,NaN,NaN,NaN
3,1970.0,1.0,Greece,Attica,Athens,Western Europe,1.0,0.0,NaN,Bombing/Explosion,...,NaN,NaN,Explosives,Unknown Explosive Type,NaN,NaN,NaN,NaN,NaN,NaN
4,1970.0,1.0,Japan,Fukouka,Fukouka,East Asia,1.0,0.0,NaN,Facility/Infrastructure Attack,...,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017.0,12.0,Somalia,Middle Shebelle,Ceelka Geelow,Sub-Saharan Africa,1.0,0.0,Insurgency/Guerilla Action,Armed Assault,...,1.0,Unknown,Firearms,Unknown Gun Type,1.0,2.0,0.0,0.0,NaN,NaN
181687,2017.0,12.0,Syria,Lattakia,Jableh,Middle East & North Africa,1.0,0.0,Insurgency/Guerilla Action,Bombing/Explosion,...,0.0,NaN,Explosives,"Projectile (rockets, mortars, RPGs, etc.)",2.0,7.0,0.0,0.0,Unknown,NaN
181688,2017.0,12.0,Philippines,Maguindanao,Kubentog,Southeast Asia,1.0,0.0,NaN,Facility/Infrastructure Attack,...,0.0,NaN,Incendiary,Arson/Fire,0.0,0.0,0.0,0.0,Unknown,NaN
181689,2017.0,12.0,India,Manipur,Imphal,South Asia,0.0,0.0,NaN,Bombing/Explosion,...,0.0,NaN,Explosives,Grenade,0.0,0.0,0.0,0.0,NaN,NaN
181690,2017.0,12.0,Philippines,Maguindanao,Cotabato City,Southeast Asia,0.0,0.0,NaN,Bombing/Explosion,...,0.0,NaN,Explosives,Unknown Explosive Type,0.0,0.0,0.0,0.0,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(77), object(58)
memory usage: 187.1+ MB

In [19]:
dfsel.columns

Index(['year', 'month', 'countryname', 'provincestate', 'city', 'regionname',
       'success', 'suicide', 'cause', 'attacktype11', 'attacktype22',
       'target11', 'target111', 'motive', 'nationalityofterrorist', 'group',
       'groupsubname', 'claimedattack', 'claimedby', 'weapon1',
       'weaponsubtype1', 'poplekilled', 'peoplewounded', 'terroristkilled',
       'terroristwounded', 'extentofdamage', 'ransompaidus'],
      dtype='object')

### Checking the datatypes of the columns

In [20]:
dfsel.dtypes

year                      float64
month                     float64
countryname                object
provincestate              object
city                       object
regionname                 object
success                   float64
suicide                   float64
cause                      object
attacktype11               object
attacktype22               object
target11                   object
target111                  object
motive                     object
nationalityofterrorist     object
group                      object
groupsubname               object
claimedattack             float64
claimedby                  object
weapon1                    object
weaponsubtype1             object
poplekilled               float64
peoplewounded             float64
terroristkilled           float64
terroristwounded          float64
extentofdamage             object
ransompaidus              float64
dtype: object

### Identifying the null values

In [24]:
dfsel.isnull().any(axis=)

year                      False
month                     False
countryname               False
provincestate              True
city                       True
regionname                False
success                   False
suicide                   False
cause                      True
attacktype11              False
attacktype22               True
target11                  False
target111                  True
motive                     True
nationalityofterrorist     True
group                     False
groupsubname               True
claimedattack              True
claimedby                  True
weapon1                   False
weaponsubtype1             True
poplekilled                True
peoplewounded              True
terroristkilled            True
terroristwounded           True
extentofdamage             True
ransompaidus               True
dtype: bool

### Since this data is based on true events and incudes information like number of people killed, wounded which took place in real life, we can't apply interpolation. So, I am exporting the data.

In [26]:
dfsel.to_excel("GripNovTerrorDataFrame.xlsx", index=False)
print("saved successfully")

saved successfully